<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/criar/criar.css"/>
</head>
<body>
    <form method="post" action="/pessoas/criar">
        <div id="formu">
            <h1> Cadastrar pessoa </h1> <br/><br/>

            <input type="text" name="nome" placeholder="Nome:"/> <br/><br/>
    
            <input type="text" name="sobrenome" placeholder="Sobrenome:"/> <br/><br/>
    
            <input type="number" name="idade" placeholder="Idade:"/> <br/><br/>

            <div id="botoes">
                <input type="submit" value="Enviar"/>
                <a href="/pessoas"> Cancelar </a>
            </div>
        </div>
    </form>
</body>
</html>