body{
    margin: 0;
    padding: 0;

}
form{
    color: black;
    text-align: center;
}
div#formu{
    margin-top: 1%;
    padding-top: 15%;
    padding-bottom: 17%;
    box-shadow: #c0c0c0;
    text-align: center;
}
input{
    width: 30%;
    height: 30px;
    border: 1px solid #c0c0c0;
    color: #000000;
    
}

button a{
    color: #020202;
}




div#botoes input{
    width: 15%;
    box-shadow: #020202;
    color: white;
    background-color: #414141;
    height: 30px;
    text-decoration: none;
   
   
}
.a{
    width: 15%;
    box-shadow: #020202;
    color: #020202;
    background-color: #414141;
    height: 30px;
    text-decoration: none;
    text-decoration: none;
}

div#botoes input:hover{
    background-color: white;
    color: #020202;
}

.a:hover{
    background-color: white;
    color: #020202;
}
h1{
    color:#020202;
}

#botoes button a{
    text-decoration: none;
    color: white;
}

